
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" href="{% static "split.css" %}" >
    <title>Slipt</title>
    <script src="{% static "jquery.min.js" %}"> </script>
    <script src="{% static "p5/p5.min.js" %}"> </script>
    <script src="{% static  "p5/addons/p5.dom.min.js" %} "></script>
    <script src="{% static "p5/addons/p5.sound.min.js" %} "  ></script>

    <script src="{% static "split-sketch.js" %}" ></script>

    <script src="{% static "p5-gif/p5.gif.js" %}" ></script>




</head>
<body>

</body>
</html>