
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" href="{% static "split2.css" %}" >
    <title>Slipt2</title>



</head>
<body>


<img id="img1" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img2" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img3" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img4" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img5" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img6" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img7" src="{% static "psyco-gif3.gif" %}" alt="file missing">
<img id="img8" src="{% static "psyco-gif3.gif" %}" alt="file missing">






</body>
</html>